html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.main-container {
  background: white;
  width: 100%;
  height: 656px;
  text-align: center;
}

.header {
  background: #1D1F21;
  width: 100%;
  height: 120px;

}

.devmountain-logo {
  height: 40px;
  width: 50px;
}

.main-section {
  background: white;
  width: 100%;
  margin-top: 439px;
}

.main-section-footer {
  background: #1D1F21;
  width: 100%;
  height: 100px;
  margin-top: 23%;
  position: absolute;
}
