html,
body {
    box-sizing: border-box;
}

*,
*​:before,
*:after {
    box-sizing: inherit;
}

.quizzes {
    background: black;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    height: 200px;
    margin: 0 auto;
    text-shadow: 1px 1px #585858;
    display: inline-block;
    padding-top: 25px;
    letter-spacing: -2px;
}

.past-quizzes {
    background: #FBD343;
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    height: 200px;
    margin: 0 auto;
    text-shadow: 1px 1px #585858;
    display: inline-block;
    padding-top: 25px;
    letter-spacing: -2px;
}

#navbar {
    background: black;
    height: 50px;
    border-style: solid;
    border-color: #FCC400;
    border-width: 2px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #00B0EC;
    text-decoration: none;
    text-align: left;
    padding-left: 15px;
    padding-top: 25px;
}

div {
    text-align: center;
}