<header class="header-container">
    <h1 class="title">Add toppings, sauces & crusts</h1>
</header>

<form>
    <input type="text" ng-model="toppings" />
    <button ng-click="addTopping(toppings);">Add topping</button>
</form>

<!--
<ul ng-repeat="topping in toppings">
    <li>{{topping}}</li>
</ul>
-->

<form>
    <input type="text" ng-model="sauces" />
    <button ng-click="addSauce(sauces);">Add sauce</button>
</form>

<form>
    <input type="text" ng-model="crusts" />
    <button ng-click="addCrust(crusts);">Add crust</button>
</form>