/*Make complete background color change*/

html.ng-scope {
    background-color: #FEF2E4;
}

.title {
    color: black;
    font-size: 50px;
    text-align: center;
}

img {
    width: 585px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pizza-button-container {
    text-align: center;
    margin-top: -75px;
    position: relative;
    padding-top: 60px;
}

.pizza-button {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -150px;
}

.pizza-ready {
    color: black;
    font-size: 50px;
    text-align: center;
}

.no-likey {
    color: black;
    font-size: 50px;
    text-align: center;
    padding-top: 0px;
}

.try-again {
    text-align: center;
    padding-bottom: 30px;
}

.card .card-image .card-title {
    font-size: 40px;
    font-weight: 800;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.containerDude {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ng-isolate-scope {
    width: 400px;
}

.row {
    width: 500px;
}

.waves-effect {
    position: absolute;
}