<div class="wrapper">
  <div>
    <img src="/images/people.jpg" alt="photo montage">
  </div>

  <div class="login">
    <input id="name" type="text" ng-model="user.userName" placeholder="User Name">
    <br />
    <input id="password" type="password" ng-model="user.password" placeholder="Password">
    <br />

<!--   need a button instead?-->
<!--    <a ui-sref="profile" ng-click="login(user.userName, user.password)">Login</a>-->
    <button ng-click="login(user)">Login</button>
  </div>
</div>